body{
    background: white;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

.product{
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding:20px ;
    transition: transform 0.3s ease;
    text-align: center;
}
.product:hover{
    transform: scale(1.03);
}
.product img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

button{
    background-color: lightcoral;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: red;
}

footer{
    margin-top: 50px;
    color: #777;
}

nav a {
    color: white;
    margin:10px;
    border-radius: 8px;
    text-decoration: none;
}

header h1{
    color:lightcoral;
}

nav{
    background-color: lightcoral;
    padding: 15px;
    border-radius: 8px;
 }

@media (max-width: 768px) {
  #products {
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  nav a {
    display: block;
    margin: 10px 0;
  }


  .product {
    width: 90%;
    max-width: 300px;
  }

  button {
    width: 100%;
  }
}
